*.pt
vignettes/**/final-model.pt
vignettes/**/best-model.pt
vignettes/**/test.tsv
vignettes/**/dev.tsv
vignettes/**/*.html
^\\.Rproj\\.user$
^README\\.Rmd$
^_pkgdown\\.yml$
^docs$
^pkgdown$
^\\.github$
^renv$
^renv\\.lock$
^dplyr$
.*\\.pt$
vignettes/.*/.*\\.pt$
vignettes/.*/.*\\.tsv$
vignettes/.*\\.html$
^Dockerfile$
^requirements\\.txt$"
^vignettes/tutorial\.Rmd$

vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
